<form class="card p-3 mb-3" (ngSubmit)="apply()">
  <div class="row g-2">
    <div class="col-md-3">
      <label class="form-label">Nombre</label>
      <input class="form-control" name="name" [(ngModel)]="model.name" />
    </div>
    <div class="col-md-3">
      <label class="form-label">Categoría</label>
      <input class="form-control" name="category" [(ngModel)]="model.category" />
    </div>
    <div class="col-md-2">
      <label class="form-label">Min precio</label>
      <input type="number" class="form-control" name="minPrice" [(ngModel)]="model.minPrice" />
    </div>
    <div class="col-md-2">
      <label class="form-label">Max precio</label>
      <input type="number" class="form-control" name="maxPrice" [(ngModel)]="model.maxPrice" />
    </div>
    <div class="col-md-2">
      <label class="form-label">Activo</label>
      <select class="form-select" name="active" [(ngModel)]="model.active">
        <option value="any">Cualquiera</option>
        <option value="true">Activo</option>
        <option value="false">Inactivo</option>
      </select>
    </div>
  </div>

  <div class="d-flex gap-2 justify-content-end mt-2">
    <button class="btn btn-outline-secondary" type="button" (click)="clear()">Limpiar</button>
    <button class="btn btn-success" type="submit">Filtrar</button>
  </div>
</form>
